{% extends "mts_profile/layout.html" %}
{% load static %}

{% block body %}
    <section id="services" class="services">
        <div class="container-md section-title">
            <div class="text-center">
                <h2 style="color: var(--bs-body-color);font-size: x-large;">WE OFFER AWESOME<span style="color: var(--bs-primary);"><strong>&nbsp;SERVICES</strong></span></h2>
            </div>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="icon ion-chatboxes" style="margin-bottom: 15px;"></i>
                            <h4 class="title">IT CONSULTING<a href="#"></a></h4>
                            <p class="description">Offering strategic advice and guidance to clients on IT infrastructure , systems , and technology solutions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box" style="--bs-primary: #e89e01;--bs-primary-rgb: 232,158,1;">
                        <div class="icon"><i class="fas fa-cog" style="margin-bottom: 15px;"></i>
                            <h4 class="title">MANAGED IT SERVICES</h4>
                            <p class="description">Providing ongoing monitoring , maintenance , and support for clients' IT systems.&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="icon ion-network" style="margin-bottom: 15px;"></i>
                            <h4 class="title">NETWORK AND DESIGN IMPLEMENTATION</h4>
                            <p class="description">Designing and setting up secure and efficient computer networks for business.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fa fa-video-camera" style="margin-bottom: 15px;"></i>
                            <h4 class="title">CCTV</h4>
                            <p class="description">Installing , designing and implementing CCTV technology in home and office environments.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fas fa-door-closed" style="margin-bottom: 15px;"></i>
                            <h4 class="title">ACCESS CONTROL DOORS&nbsp;</h4>
                            <p class="description">Installation of different types of access control door systems.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="material-icons" style="margin-bottom: 15px;">security</i>
                            <h4 class="title">CYBERSECURITY SERVICES</h4>
                            <p class="description">Protecting clients from cyber threats through services such as threat detection , firewall management , and vulnerability assessments.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fas fa-cloud" style="margin-bottom: 15px;"></i>
                            <h4 class="title">CLOUD COMPUTING SOLUTIONS&nbsp;</h4>
                            <p class="description">Offering cloud-based services , including cloud migration , data storage , and cloud application development.&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fas fa-laptop-code" style="margin-bottom: 15px;"></i>
                            <h4 class="title">SOFTWARE DEVELOPMENT</h4>
                            <p class="description">Creating custom software applications , web and mobile apps , and providing software integration services.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fas fa-laptop" style="margin-bottom: 15px;"></i>
                            <h4 class="title">HARDWARE PROCUREMENT</h4>
                            <p class="description">Sourcing and supplying computer hardware and peripherals , including servers , laptops , and networking equipment.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fas fa-server" style="margin-bottom: 15px;"></i>
                            <h4 class="title">DATA AND BACKUP RECOVERY</h4>
                            <p class="description">Ensuring data safety through regular backups and providing recovery solutions in case of data loss.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-codepen" style="margin-bottom: 15px;"></i>
                            <h4 class="title">VOIP AND UNIFIED COMMUNICATIONS</h4>
                            <p class="description">Implementing Voice Internet Protocol (VoIP) systems and unified communication solutions for businesses.&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fa fa-support" style="margin-bottom: 15px;"></i>
                            <h4 class="title">IT TRAINING AND SUPPORT&nbsp;</h4>
                            <p class="description">Offering training programs for clients ' employees and providing technical support.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-aos="fade" data-aos-duration="750" id="book" class="getintouch" style="margin-top: 26px;padding-top: 0px; background-image: url({% static 'img/getintouch/GetInTouch.png'%});">
        <div class="container modern-form w-75" id="bookForm">
            <div class="text-center">
                <h2 style="color: #212529;font-size: xx-large !important;text-align: center;">BOOK</h2>
            </div>
            <div class="modern-form__form-container">
                <form class = "site-form" action="{% url 'services' %}" method="post">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    <div class="row">
                        <div class="col col-contact">
                            <div class="modern-form__form-group--padding-r form-group mb-3">{{ form.full_name|add_class:"form-control input modern-form__form-control--textarea"|attr:"placeholder:Full Name" }}
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-contact">
                            <div class="modern-form__form-group--padding-r form-group mb-3">{{ form.phone_number|add_class:"form-control input modern-form__form-control--textarea"|attr:"placeholder: Phone Number" }}
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-contact">
                            <div class="modern-form__form-group--padding-r form-group mb-3">{{ form.email|add_class:"form-control input modern-form__form-control--textarea"|attr:"placeholder: Email Address"|attr:"type: email" }}
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-contact">
                            <div class="modern-form__form-group--padding-r form-group mb-3"> 
                                {{ form.service|add_class:"form-control input modern-form__form-control--textarea"|attr:"placeholder:Service"|attr:"type:text" }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-contact">
                            <div class="modern-form__form-group--padding-r form-group mb-3">{{ form.location|add_class:"form-control input modern-form__form-control--textarea"|attr:"placeholder:Location"|attr:"type:text" }}
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 col-contact">
                            <div class="modern-form__form-group--padding-r form-group mb-3" style="margin-right: -33px;">{{ form.date|add_class:"form-control input modern-form__form-control--textarea"|attr:"placeholder:Date"|attr:"type:date" }}
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-contact">
                            <div class="modern-form__form-group--padding-l form-group mb-3">{{ form.time|add_class:"form-control input modern-form__form-control--textarea"|attr:"placeholder:Time"|attr:"type:time" }}
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="modern-form__form-group--padding-t form-group mb-3">{{ form.message|add_class:"form-control input modern-form__form-control--textarea"|attr:"placeholder:Message"|attr:"type:text" }}
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center"><input class="btn btn-primary submit-now" type="submit" style="background: #e89e01;border-radius: 0px;" value="Submit Now"></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <hr>
    {% endblock %}
    