{% extends "online_store/layout.html" %}
{% load static %}

{% block body %}

<div class="container" style="margin-top: 113px;">
    <h1 style="font-size: x-large;">HOME</h1>
    <p>All Products</p>
</div>
<div class="container" style="margin-bottom: 30px;margin-top: 30px;">
    <div class="row">
        {% for item in title %}
        <div class="col-md-4"><a href="{% url 'product_details' id=item.id%}">
                <div class="card" style="border-radius: 0px;margin-bottom: 29px;"><img class="card-img-top w-100  d-block" style="border-radius: 1px; " src="{{item.image.url}}">
                    <div class="card-body">
                        <p class="card-text" style="text-align: center;"><strong><span style="color: rgb(40, 40, 40);"> {{item.name}} </span></strong></p>
                        <p style="font-weight: bold;color: var(--bs-primary);text-align: center;">K {{item.price}}</p>
                        <center>
                            <button class="btn btn-primary" type="button" style="background-color: rgb(0, 0, 0); border-radius: 0px;">View Item</button>
                        </center>
                    </div>
                </div>
            </a></div>
       {% endfor %}
    </div>
</div>
<hr>


{% endblock %}