{% extends "online_store/layout.html" %}
{% load static %}

{% block body %}
<div class="container" style="margin-top: 113px;">
    <h1 style="font-size: x-large;">Order Successful !</h1>
    <p>Your order was successful. One of our agents will contact you. Check your order on your profile page.</p>
    <br>
    <center>
        <a href="{% url 'online_store' %}">
            <button class="btn btn-primary submit-now" style="background: #e89e01;border-radius: 0px;" >Continue</button>
         </a>
    </center>
    
</div>
<hr>
{% comment %} <div style="margin-top:10rem">
    {% for order in orders %}
        <p> {{order.product.name}} </p>
        <p> {{order.order_date}} </p>
        <p> {{order.viewed}} </p>
        <p> {{order.received}} </p>

    {% endfor %}
</div> {% endcomment %}

{% endblock %}